* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: green;
  color: white;
}

#title {
  text-align: center;
  margin: 1.8rem 0 0 0;
}

#description {
  text-align: center;
  margin: 0.8rem 0 0 0;
}

#survey-form {
  background-color: rgba(1, 1, 12, 0.8);
  margin: 2rem 263px 0.5rem 263px;
  width: auto;
  height: fit-content;
  display: block;
}

#name,
#email,
#number,
#dropdown,
#radiobtn,
#checkbox,
#textarea {
  width: 90%;
  height: fit-content;
  border-radius: 5px;
  margin: 0.5rem 5% 0 5%;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  justify-self: center;
}

#name-label,
#email-label,
#number-label,
#dropdown-label,
#radiobtn-label,
#checkbox-label,
#textarea-label {
  margin: 2rem 5% 0 5%;
  padding: 1.3rem 0 0.3rem 0;
}

#submit {
  height: 2.2rem;
  width: 90%;
  color: white;
  background-color: rgb(6, 78, 83);
  border-radius: 5px;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  margin: 3% 5% 5% 5%;
  justify-self: center;
}
