.bg-img1 {
  background: url(./images/lab12-img-0.jpg);
  height: 520px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.bg-img2 {
  background: url(./images/lab12-img-1.jpg);
  height: 520px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.bg-img3 {
  background: url(./images/lab12-img-2.jpg);
  height: 520px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}
